{% extends 'base.html' %} {% load static %}
<!-- --------------------------------------------------------->
{% load active_link_tags %}
<!-- --------------------------------------------------------->
{% block title %} Home page {% endblock %}
<!-- ---------------------------------------------------------------------------- -->
{% block maincontent %}
<section class="section">
    <div class="section-header">
        <h1>Dashboard</h1>
    </div>
    <div class="section-header-button">
        <a href="{% url 'log_complain' %}" class="btn btn-primary">Add New</a>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <a href="{% url 'pend_jobs' %}">
                <div class="card card-statistic-1">
                    <div class="card-icon bg-primary">
                        <i class="far fa-user"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>Pending Jobs</h4>
                        </div>
                        <div class="card-body">
                            {{pend_count}}
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <a href="#">
                <div class="card card-statistic-1">
                    <div class="card-icon bg-danger">
                        <i class="far fa-newspaper"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>Settled Jobs</h4>
                        </div>
                        <div class="card-body">
                            {{compl_count}}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <a href="{% url 'pend_payments' %}">
                <div class="card card-statistic-1">
                    <div class="card-icon bg-warning">
                        <i class="far fa-file"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>Pending Payments</h4>
                        </div>
                        <div class="card-body">
                            {{pending_payments}}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <a href="#">
                <div class="card card-statistic-1">
                    <div class="card-icon bg-success">
                        <i class="fas fa-circle"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>Settled Payments</h4>
                        </div>
                        <div class="card-body">
                            {{settled_payments}}
                        </div>
                    </div>
                </div>
            </a>
        </div> 
    </div>

</div>



</section>
{% endblock %}
{% block jsspec %}
<script src="{% static 'js/page/index.js' %}"></script>
{% endblock %}
