{% extends 'base.html' %} {% load static %}
<!-- --------------------------------------------------------->
{% load active_link_tags %}
<!-- --------------------------------------------------------->
{% block title %} Home page {% endblock %}
<!-- ---------------------------------------------------------------------------- -->
{% block maincontent %}
<section class="section">
    <div class="section-header">
        <h1>Dashboard</h1>
    </div>
    <div class="section-header-button">
    </div>
    <br>
    <div class="row">
        <div class="col-12 mb-4">
            <div class="hero bg-primary text-white">
                <div class="hero-inner">
                    <h2>Welcome, {{user.username}}!</h2>
                    <p class="lead">Glad you are back!, Kindly Log a new Job by clicking the button below.</p>
                    <div class="mt-4">
                        <a href="{% url 'log_complain' %}" class="btn btn-outline-white btn-lg btn-icon icon-left"><i class="far fa-user"></i> Add New Job</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <a href="{% url 'pending_jobs_link' %}">
                <div class="card card-statistic-1">
                    <div class="card-icon bg-primary">
                        <i class="far fa-user"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4 style="color:black"><b>Pending Jobs</b></h4>
                        </div>
                        <div class="card-body">
                            {{pend_count}}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <a href="{% url 'complete_jobs' %}">
                <div class="card card-statistic-1">
                    <div class="card-icon bg-danger">
                        <i class="far fa-newspaper"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4 style="color:black"><b>Settled Jobs</b></h4>
                        </div>
                        <div class="card-body">
                            {{compl_count}}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <a href="{% url 'all_pending_payment' %}">
                <div class="card card-statistic-1">
                    <div class="card-icon bg-warning">
                        <i class="far fa-file"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4 style="color:black"><b>Pending Payments</b></h4>
                        </div>
                        <div class="card-body">
                            {{pending_payments}}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <a href="{% url 'completed_payments' %}">
                <div class="card card-statistic-1">
                    <div class="card-icon bg-success">
                        <i class="fas fa-circle"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4 style="color:black"><b>Settled Payments</b></h4>
                        </div>
                        <div class="card-body">
                            {{settled_payments}}
                        </div>
                    </div>
                </div>
            </a>
        </div> 
        <div class="col-12 mb-4">
            <div class="hero bg-white text-white">
                <div class="hero-inner">
                    <div class="mt-4">
                        <a href="{% url 'all_complains' %}" class="btn btn-primary btn-lg btn-icon icon-left"><i class="far fa-user"></i> View all Jobs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



</section>
{% endblock %}
{% block jsspec %}
<script src="{% static 'js/page/index.js' %}"></script>
{% endblock %}
